<div class="container-fluid">
  <h1 class="titre_programmation">PROGRAMMATION</h1>
  <p class="intro_programme">Petits et grands, embarquez pour le plus gigantesque, chic et authentique des
    spectacles de cirque !

    Sous le plus beau chapiteau de France, numéros irrésistibles et attractions monumentales vous feront tourner la tête
    et
    chavirer de bonheur.

    Entre exploits, magie et poésie, nos bêtes de cirque créent un embrasement d’émotions comme vous n’en vivrez nulle
    part
    ailleurs.

    N’attendez plus, rejoignez la fête et lancez-vous dans l’aventure inouïe que nous offre le 35ème anniversaire du
    Cirque Willy Circus !

    Plus que jamais, avec nous faites la différence !</p>

  <br>

  <h3 class="titre_partie">PREMIERE PARTIE</h3>

  <p class="texte_partie1">Venez admirez l'incroyable magicienne Kate accompagné de ses nombreux accessoires qui vous
    feront perdre la tête. Les volontaires pourrons faire partie du spectacle et assister notre merveilleuse magicienne
    lors de ses nombreux tour de magie.
    Suivra l'homme canon qui n'a pas peur de se faire propulser à une hauteur vertigineuse. Pour des raisons de
    sécurités, ce spectacle sera en extérieur et pourra être annulé en fonction de la météo.
  </p>

  <br>

  <h3 class="titre_partie2">DEUXIEME PARTIE</h3>

  <p class="texte_partie2">Emmerveillez-vous avec nos acrobates et funanbule qui vous feront oublié tous vos tracas.
    Une initiation pour les petits pourra se faire en fin de spectacle !
  </p>


  <div class="container" class="image_cirque">
    <div class="row">
      <div class="col">
        <img src="assets/pictures/cirque.jpg" alt="cirque">
      </div>
    </div>
  </div>