.titre_programmation {
  text-align: center;
  margin-bottom: 5%;
}

.intro_programme {
  margin-top: 5%;
  text-align: justify;
  border-radius: 30px;
}

.titre_partie,
.titre_partie2 {
  text-align: center;
}

.texte_partie1 {
  text-align: center;
}

.texte_partie2 {
  padding-bottom: 5%;
  text-align: center;
}

.image_cirque {
  text-align: center;
  margin-top: 2%;
}
