.groupTextArea {
  margin-bottom: 1.5%;
}
.btn {
  background-color: rgb(84, 122, 142);
  border-color: rgb(84, 122, 142);
  color: white;
  margin-top: 1.5%;
  margin-bottom: 5%;
}

h1 {
  margin-bottom: 2%;
  text-align: center;
}
